.topic-panel {
  padding: 10PX 20PX;
  font-size: 14PX;
  .topic-panel-title {
    padding: 5PX 0 5PX 10PX;
    border-radius: 4PX;
    background-color: #0288d1;
    color: #fff;
  }
  .topic-panel-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8PX 0;
    .topic-panel-left {
      width: 60%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
      .topic-panel-list-img {
        width: 26PX;
        height: 26PX;
        border-radius: 50%;
        margin-right: 4PX;
        vertical-align: middle;
      }
      .topic-panel-desc {
        color: blue;
      }
    }
    
    .topic-panel-list-date {
      width: 42%;
      color: #ccc;
    }
  }
}