
.topiclist-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4PX 10PX;
  box-sizing: border-box;
  .image {
    width: 28PX;
    height: 28PX;
  }
  .drawer {
    position: absolute;
  }
}
